header {
    background-color: darkred;
    height: 400px;
    width: 800px;
    -webkit-border-radius: 0px 500px 500px 500px;
    -moz-border-radius: 0px 500px 500px 500px;
    border-radius: 0px 0px 700px 700px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: -20px;
}

li {
    list-style: none;
    text-align: right;
    float: right;
    font-size: 20px;
}

a {
    color: rgb(177, 22, 22);
    text-decoration: none;
    font-size: 18pt;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(95, 13, 13);
    font-size: 28px;
    margin-top: 100px;
}

h3 {
    font-size: 18pt;
    color: rgb(177, 22, 22);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h4 {
    color: white;
    background: lightgrey;
    display: block;
    padding: 5px;
    text-decoration: none;
}

style {
    color: white;
}

p {
    font-size: 18pt;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(177, 22, 22);
}

.textkreis {
    color: rgb(245, 232, 220);
    font-size: 120px;
    font-family: Helvetica, sans-serif;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.textkreis1 {
    color: rgb(245, 232, 220);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    line-height: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.textkreis2 {
    color: rgb(245, 232, 220);
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-top: 50px;
    margin-bottom: 0px;
}

.textkreis3 {
    color: rgb(245, 232, 220);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    background-color: rgb(245, 232, 220);
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.cf {
    color: white;
    margin-top: 100px;
}