p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30pt;
    color: red;
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;
    color: red;
}

.foto1 {
    width: 70%;
    text-align: center;
}

.foto2 {
    width: 50%;
    text-align: center;
}

.foto3 {
    width: 50%;
    text-align: center;
}

.foto4 {
    width: 70%;
    text-align: center;
}

.foto5 {
    width: 70%;
    text-align: center;
}

.foto6 {
    width: 70%;
    text-align: center;
}

.foto7 {
    width: 70%;
    text-align: center;
}